.take-test-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.take-test-text {
  padding: var(--dl-space-space-oneandhalfunits);
  font-family: "Comic Sans MS";
  font-size: 30px;
  font-weight: 500;
}
.take-test-container2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.take-test-container3 {
  width: 100%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.take-test-text01,
.take-test-text02,
.take-test-text03,
.take-test-text04,
.take-test-text05,
.take-test-text06,
.take-test-text07,
.take-test-text08,
.take-test-text09,
.take-test-text10,
.take-test-text11,
.take-test-text12,
.take-test-text13,
.take-test-text14,
.take-test-text15 {
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Georgia";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-fourunits);
}

.take-test-container4 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: start;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.clrwheel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.color-wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-wheel-canvas {
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.slider {
  width: 200px;
  margin-top: 10px;
}

.hue-value {
  margin-top: 10px;
  font-size: 16px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.take-test-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Arial";
  border-color: #4e9a1c;
  border-width: 3px;
  padding: 10px 20px;
  margin-top: 100px;
}
