<!DOCTYPE html>
<html>
    <head><title>Instructions for Chromolyzer</title></head>
    <body>
        <div class="instructions-container">
            <link href="../static/css/instructions.css" rel="stylesheet" />
              <div class="instructions-container1">
                <form class="instructions-form" action="/takeTest">
                  <div class="instructions-container2">
                    <span class="instructions-text">Name: </span>
                      <input
                        width="400"
                        type="text"
                        name="name"
                        placeholder="Enter name here"
                        class="instructions-textinput input"
                        required
                      />
                  </div>
                  <div class="instructions-container4">
                    <span class="instructions-text1">Age: </span>
                    <input
                      width="400"
                      type="number"
                      min="10"
                      max="85"
                      name="age"
                      placeholder="Enter age"
                      class="instructions-textinput1 input"
                      required
                    />
                  </div>
                  <button type="submit" value="submit" class="take-test-button">Take Test</button>
                </form>
                <div class="instructions-container5">
                  <span class="instructions-text2">
                    <br>  Hello user!
Before you proceed with the test, a small set of instructions to be followed so that you get most out of Chromolyzer... ❤️<br><br>

1. Read AboutUs page to get detailed information on how Chromolyzer analyses your color choice at backend. <br>
2. Enter your correct name, gender and age above before proceeding for the test. <br>
3. Test involves 15 questions. <br>
4. For each question there's a color-wheel to choose a hue. (Read what is hue in AboutUs page). <br>
5. Concentrate on the hues in the wheel and choose the most appropriate one according to you for each question. <br>
6. Read the question carefully before choosing a hue from the wheel.<br>
7. While choosing hue, slide the slider to right or left as per your color choice. <br>
8. Colors in the color-wheel range from red (0°) to pink shade (359°). Choose from this wide range. <br>
9. Once done with all the 15 questions, check all the selections and then click the submit button. <br>
10. Check your results. Results are percentage of five important parameters that define your personality as a whole. <br>
11. Read the discourse on each parameter and then check out your percentages for each parameter. <br>
12. You can download the report as well to keep a copy of it with you. <br>
13. Your data will be recorded for further analysis and improvisation of Chromolyzer further. <br>

Thank you ! And All the very best .... ❤️ <br>
                  </span>
                </div>
              </div>
            </div>
    </body>
</html>